.blue-with-padding {
  padding: 5px !important;
  background: blue;
}
.yellow-with-large-padding {
  padding: 70px !important;
  background: yellow;
}
.four-hundred-width {
  width: 400px;
}
.btn {
  float: right;
  margin-bottom: 15px;
  margin-left: 450px;
}

.pagination {
  /* background-color: burlywood; */
  margin-left: 650px;
}

.btn-add {
  margin-left: 650px;
}

.container-dark{
  align-items: center;
} 

.loading {
  align-items: center;
  margin-left: 60px;
}